<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        News:
          List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
    <h1>Listing for News</h1>

    <f:flashMessages />

    <form action="{f:uri.action(action:'search')}" method="post" class="row g-3 align-items-center mb-3">

      <div class="col-auto">
        <input type="text" class="form-control" placeholder="Search..." name="searchValue">
      </div>

      <div class="col-auto">
        <label for="fromDate">From:</label>
      </div>
      <div class="col-auto">
        <input id="fromDate" type="datetime-local" class="form-control" name="fromDate">
      </div>

      <div class="col-auto">
        <label for="toDate">To:</label>
      </div>
      <div class="col-auto">
        <input id="toDate" type="datetime-local" class="form-control" name="toDate">
      </div>

      <div class="col-auto">
        <input class="form-check-input" type="checkbox" value="1" id="importantCheck" name="importantCheck">
        <label class="form-check-label" for="importantCheck">
          Important News
        </label>
      </div>

      <div class="col-auto">
        <select class="form-select" name="selectCategory">
          <option selected hidden value="0">Category</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
      


      <div class="col-auto">
        <input class="btn btn-primary" type="submit" value="submit">
      </div>
      
    </form>

    <div class="row row-cols-1 row-cols-md-3 g-4">

      <f:for each="{news}" as="news">
        <div class="col">
          <div class="card">
            <img src="{f:uri.image(image:news.img)}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">
                {news.title}
                <small class="text-muted">{news.newsdate->f:format.date(format: 'd.m.Y')}</small>
                <f:if condition="{news.important}">
                    <span class="badge bg-success">Important</span>
                </f:if>
              </h5>
              <p class="card-text">{news.description-> f:format.html()}</p>
              <f:link.action class="btn btn-primary" action="show" arguments="{news : news}">See</f:link.action>
            </div>
          </div>
        </div>
      </f:for>
      
    </div>
 
</f:section>
</html>
