<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This template is responsible for displaying a single view for a domain object

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        News:
          Show.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">

    <f:flashMessages />

    <div class="row">
        <h1>
          {news.title}
          <small class="text-muted">{news.newsdate->f:format.date(format: 'd.m.Y')}</small>

          <f:if condition="{news.important}">
                <span class="badge bg-success">Important</span>
            </f:if>
          
        </h1>
        <f:if condition="{news.categories}">
          
          <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
              Categories
            </a>
            
            <f:for each="{news.categories}" as="category">

              <f:link.action class="list-group-item list-group-item-action" pageUid="2"  action="show" pluginName="Newscategories" controller="NewsCategory" arguments="{newsCategory : category}">{category.name}</f:link.action>

          </f:for>
          </div>

        </f:if>

        {news.description-> f:format.html()}
        <img src="{f:uri.image(image:news.img,width:'150c',height:'150c')}" height="500px" style="object-fit: cover;"/>
        
    </div>
    <f:link.action class="btn btn-dark mt-3" action="list">Back to list</f:link.action><br />
  
    <f:debug>{_all}</f:debug>
</f:section>
</html>