<f:section name="_SingleFile">
    <p class="int-news--detail--file-title">
        <f:if condition="{singleFile.originalResource.title}">
            <f:then>
                <span class="int-news--detail--file-title">{singleFile.originalResource.title}</span>
                <span class="int-news--detail--file-name">{singleFile.originalResource.name}</span>
            </f:then>
            <f:else>
                <span class="int-news--detail--file-title">{singleFile.originalResource.name}</span>
            </f:else>
        </f:if>
    </p>
    <f:if condition="{singleFile.originalResource.description}">
        <div class="int-news--detail--file-description">
            {singleFile.originalResource.description -> f:format.raw()}
        </div>
    </f:if>

    <p class="int-news--detail--file-meta">
        <span class="int-news--detail--file-extension">
            {singleFile.originalResource.originalFile.extension}
        </span>
        <span class="int-news--detail--file-size">
            {singleFile.originalResource.originalFile.size -> f:format.bytes(decimals: '0', units: '{f:translate(key:\'viewhelper.format.bytes.units\', extensionName:\'intbuilder\')}')}
        </span>
    </p>
</f:section>