{f:if(condition: '{data.intWidthContainer}',  then: 'width-{data.intWidthContainer} ', else: 'width-full ')}
{f:if(condition: '{data.intBackgroundColor}', then: 'background-color-{data.intBackgroundColor} has-background ')}
{f:if(condition: '{data.intBackgroundColor} >= 10', then: 'background-inverted ')}
{f:if(condition: '{data.intColumnCount}', then: 'columns-{data.intColumnCount} ')}
{f:if(condition: '{data.intImagePosition}', then: 'image-position-{data.intImagePosition} ')}
{data.ctype} {data.ctype}-{data.uid}