{namespace f=TYPO3\CMS\Fluid\ViewHelpers}
{namespace inthelper=Int\Inthelper\ViewHelpers}

<f:layout name="Content/Default"/>

<f:section name="Main">
    <section data-anchor="{data.txContentSlugFragment}" data-anchor-title="{data.anchorIdentifier}"
             class="{f:render(partial: 'Classes/CeContainerClass', arguments: '{data: data}')}">
        <div class="{f:render(partial: 'Classes/CeContainerInnerClass', arguments: '{data: data}')}">

            <f:comment><!-- CONTENT ------------------------------- --></f:comment>

            <f:render partial="Content/Text"
                      arguments="{
                        header: data.header,
                        content: data.intText1
                      }"/>

            <f:comment><!-- END: CONTENT -------------------------- --></f:comment>

        </div>
    </section>

</f:section>