<div class="int-debugger-viewport">
    <strong>
        <span class="int-debugger-mobile-s">mobile-s</span>
        <span class="int-debugger-mobile-m">mobile-m</span>
        <span class="int-debugger-mobile-l">mobile-l</span>
        <span class="int-debugger-tablet">tablet</span>
        <span class="int-debugger-desktop-s">desktop-s</span>
        <span class="int-debugger-desktop-m">desktop-m</span>
        <span class="int-debugger-desktop-l">desktop-l</span>
        <span class="int-debugger-desktop-xl">desktop-xl</span>
    </strong>
    <small>
        <span id="int-debugger-width"></span>
    </small>
</div>

